.App {
  text-align: center;
  
}

* 
{
  box-sizing: border-box;
}

html {
  background-color: turquoise;
}
.header {
  margin: 0 auto;
  background-color: white;
  padding: 14px;
  max-width: 400px;
  width: 100%;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
}

input {
  width: 85%;
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.btn {
  padding: 10px;
  border-radius: 10px;
}

.todo {
  max-height: 240px;
  overflow-y: auto;
  background-color: rgb(255, 239, 11);
}